body {
	font-family: 'Heebo', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	background-color: var(--bg-white);
  margin: 0;
}

.fixed {
	position: fixed;
	top: 0;
	width: 100%;
}
