.fadeRotateOut {
	visibility: visible;
	animation-name: fadeRotateOut;
	animation-duration: 1s;
	animation-fill-mode: both;
	display: block;
}

@keyframes fadeRotateOut {
	0% {
		opacity: 1;
		transform: none;
	}
	100% {
		opacity: 0;
		transform: rotateX(60deg) rotateY(10deg) rotateZ(-10deg);
		transform-origin: top;
		animation-timing-function: var(--ease-out-short);
	}
}
