.fadeTextIn {
	visibility: visible;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: var(--ease-out-medium);
	opacity: 0.2;
	&.animate {
		animation-name: fadeTextIn;
	}
}

@keyframes fadeTextIn {
	0% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}
