.fadeIn {
	visibility: visible;
	animation-name: fadeIn;
	animation-duration: 1s;
	animation-fill-mode: both;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		animation-timing-function: var(--ease-out-short);
	}
	100% {
		opacity: 1;
	}
}
